* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.nav-main a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
}
.container {
  background-image: linear-gradient(#4295dc, #182c3e);
  position: fixed;
  height: 100%;
  width: 100%;
  margin: auto;
}

hr {
  width: 90%;
  margin: auto;
}

/* Estilos de navegacion */

.nav-logo {
  width: 70px;
  margin-left: 40px;
  margin-right: 40px;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: auto;
}

/* Barra de navegacion */

.nav-main ul {
  display: flex;
}
.nav-main ul li {
  padding: 10px 80px;
}

.nav-main ul.nav-menu li a:hover {
  border-bottom: 2px solid #ffffff;
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 15px;
  font-size: 20px;
}

.nav-main ul.nav-icon {
  font-size: 25px;
  text-decoration: none;
}

/* TAB IZQUIERDA  */

.tab-izquierda {
  position: fixed;
  width: 170px;
  height: 100%;
}
.tab-izquierda button {
  background-color: inherit;
  display: block;
  color: white;
  font-size: 20px;
  padding: 20px 16px;
  width: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}
.tab-izquierda button:hover {
  background-color: #11678f;
  /* text-decoration: underline; */
  /* text-underline-offset: 3px; */
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

.button {
  cursor: pointer;
}
