ul {
    list-style: none;
}

.container {
    background-image: linear-gradient(#4295dc, #182c3e);
}


/* Estilos de navegacion */


/* Barra de navegacion */

.nav-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-main a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
}

.nav-logo {
    width: 70px;
}

.nav-main ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-main ul li {
    align-items: center;
    padding: 10px 80px;
    border-radius: 15px;
    transition: ease-in-out 0.3s;
}

.nav-main ul.nav-menu li:hover {
    background-color: #000203c4;
    border-radius: 15px;
}


/* DIV MEDIO */

.div-medio {
    display: flex;
}


/* TAB IZQUIERDA  */

.tab-izquierda button {
    padding: 0.5rem;
    margin-left: 0px;
    margin-top: 1rem;
    background-color: inherit;
    color: white;
    font-size: 20px;
    width: 100%;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.iconos-tab-izq {
    margin-left: 1.2rem;
}

.tab-izquierda button:hover {
    background-color: #000203c4;
    border-radius: 20px;
}


/* CSS TABLA VENTAS */

#myInput {
    background-image: url("/css/searchicon.png");
    background-position: 10px 12px;
    border-radius: 15px;
    background-repeat: no-repeat;
    width: 35%;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    color: black;
    font-size: 18px;
    background-color: white
}

#myTable th,
#myTable td {
    text-align: left;
    /* Left-align text */
    padding: 12px;
    /* Add padding */
}

#myTable tr td {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header th {
    padding: 1rem 1rem;
    color: black;
}

#myTable tr.header {
    background-color: rgb(231, 231, 231);
}

#myTable .tr-table:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: rgb(216, 216, 216);
    cursor: default;
}